%p#notice= notice
%h1 Lists of
= link_to 'Rubrics', rubrics_path, class: 'btn btn-primary'
%br/
%br/
= link_to 'Clients', clients_path, class: 'btn btn-primary'
%br/
%br/
= link_to 'Errors', class: 'btn btn-primary'



%br/
