default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  # host: localhost
  url: <%= ENV['DATABASE_URL'] %>
  encoding: unicode

development:
  <<: *default
  database: rubrics_dev

test:
  <<: *default
  database: rubrics_test

production:
  <<: *default
  database: rubrics
