%strong Rubric:
= @rubric.title
%br
%br
%br
= link_to 'New Request', new_rubric_path, class: 'btn btn-warning'
%br
%br
= link_to 'Edit client', edit_rubric_path(@rubric),  class: 'btn btn-danger'
%br
%br
= link_to 'Main page', rubric_path, class: 'btn btn-primary'
