%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{:'aria-controls' => 'navbar', :'aria-expanded' => 'false', :'data-target' => '#navbar', :'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: params[:controller] == 'pages' ? 'active' : ''}=link_to 'Main', root_path
        %li{class: params[:controller] == 'rubrics' ? 'active' : ''}=link_to 'Rubrics', rubrics_path
        %li{class: params[:controller] == 'clients' ? 'active' : ''}=link_to 'Clients', clients_path
